<div class="row">
    <div class="col-lg-4">
        <h1>Accessories</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h2>Speakers</h2>
        <img src="app/img/speakers.jpg" height="150" width="150"/>
    </div>
    <div class="col-lg-12">
        <h2>Seats</h2>
        <img src="app/img/seats.jpeg" height="150" width="150"/>
    </div>
    <div class="col-lg-12">
        <h2>Phone Holder</h2>
        <img src="https://images-na.ssl-images-amazon.com/images/I/81j-qkpb-WL._SX466_.jpg"
        "" height="150" width="150"/>
    </div>
</div>