<div class="row">
    <div class="col-lg-4">
        <h2>Accessories</h2>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h4>Speakers</h4>
        <img src="app/img/speakers.jpg" height="150" width="150"/>
    </div>
    <div class="col-lg-12">
        <h4>Seats</h4>
        <img src="app/img/seats.jpeg" height="150" width="150"/>
    </div>
    <div class="col-lg-12">
        <h4>Power Extension</h4>
        <img src="app/img/power-extension.jpeg" height="150" width="150"/>
    </div>
    <div class="col-lg-12">
        <h2>BMW jacket $200</h2>
        <img src="http://www.racecarjackets.net/prod_images_large/BMW_Petronas_02_F1_Racing_Jacket_Dark_blue_front.jpg" height="150" width="150"/>
    </div>
</div>